@font-face {
    font-family: "iconfont"; /* Project id 3563475 */
    src: url('//at.alicdn.com/t/c/font_3563475_pbr0fv4vkh.woff2?t=1659597547559') format('woff2'),
    url('//at.alicdn.com/t/c/font_3563475_pbr0fv4vkh.woff?t=1659597547559') format('woff'),
    url('//at.alicdn.com/t/c/font_3563475_pbr0fv4vkh.ttf?t=1659597547559') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
    content: "\e601";
}

.icon-ico_dengchu:before {
    content: "\e60e";
}
