@font-face {
    font-family: "iconfont"; /* Project id 3563475 */
    src: url('//at.alicdn.com/t/c/font_3563475_hsq25v74ixl.woff2?t=1660056006070') format('woff2'),
    url('//at.alicdn.com/t/c/font_3563475_hsq25v74ixl.woff?t=1660056006070') format('woff'),
    url('//at.alicdn.com/t/c/font_3563475_hsq25v74ixl.ttf?t=1660056006070') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yuanxingsheji:before {
    content: "\e61e";
}

.icon-chuangjianzhibiao:before {
    content: "\e61f";
}

.icon-jurassic_add-project:before {
    content: "\e6ec";
}

.icon-tuandui:before {
    content: "\e62f";
}

.icon-yaoqing:before {
    content: "\100c7";
}

.icon-guanbi:before {
    content: "\e600";
}

.icon-ren-danren:before {
    content: "\e704";
}

.icon-bianji:before {
    content: "\e601";
}

.icon-ico_dengchu:before {
    content: "\e60e";
}
